name: Claude Code PR Review

# see: example https://github.com/anthropics/claude-code-action/blob/main/examples/claude.yml

on:
  pull_request:
    types: [ opened ]
  issue_comment: # issue または PR のコメントを指す。PR も内部的には Issue 扱い
    types: [ created ] # 新規コメントでのみトリガー。編集や削除はスルー
  pull_request_review_comment: # Files changed」タブの行コメント
    types: [ created ]
  issues:
    types: [ opened ]

permissions:
  contents: write # 権限が強いので、main ブランチの同ymlファイルと完全一致していないと動かない！
  pull-requests: write
  issues: write
  id-token: write

jobs:
  # プルリクエストでの自動レビュー
  auto-review:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0  # PR の差分ファイルまで取得する

      - name: Run Claude Code Review
        id: claude
        uses: anthropics/claude-code-action@v1 # see: https://code.claude.com/docs/ja/github-actions
        with:
          anthropic_api_key: ${{ secrets.ANTHROPIC_API_KEY }}
          # /review だけだとPRコメントじゃなくてサマリーだけに結果が出力されたため、プロンプトを追加
          prompt: |
            /review
            
            Please review the changes in this pull request and post your review results as comments on this pull request in japanese.
          # Bash 経由で `gh pr list` を呼ぶため、Bash ツールを明示的に許可する
          claude_args: | 
            --model claude-sonnet-4-5-20250929
            --system-prompt "Please speak in Japanese."
            --allowedTools Bash,Github

  # @claude とコメントすると走る
  call-claude:
    if: |
        (github.event_name == 'issue_comment' && contains(github.event.comment.body, '@claude')) ||
        (github.event_name == 'pull_request_review_comment' && contains(github.event.comment.body, '@claude')) ||
        (github.event_name == 'issues' && contains(github.event.issue.body, '@claude'))

    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Run Claude Code Review when calling
        uses: anthropics/claude-code-action@v1
        with:
          anthropic_api_key: ${{ secrets.ANTHROPIC_API_KEY }}
          claude_args: |
            --model claude-sonnet-4-5-20250929
            --system-prompt "Please speak in Japanese."
            --allowedTools Bash,Github
